name: Install and Test
on: [push]
jobs:
  build-linux:
    name: Python (${{ matrix.PYTHON_VERSION }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON_VERSION: ["3.6", "3.8", "3.9"]
    env:
      PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
      HAS_IEMDATABASE: 0
    steps:
    - uses: actions/checkout@v2

    - name: Add /etc/hosts entries
      run: |
        cat .github/workflows/etchosts.txt | sudo tee -a /etc/hosts

    - name: Setup Directory Structure
      run: |
        sudo mkdir -p /mesonet/data/iemre
        sudo chown -R runner /mesonet
        sudo mkdir /opt/bufkit
        sudo git clone https://github.com/ckarstens/bufkit.git /opt/bufkit

    - name: Setup CI from ci-tooling
      run: |
        git clone --depth 1 https://github.com/akrherz/iem-database.git database
        git clone --depth 1 https://github.com/akrherz/ci_tooling.git .ci_tooling
        . .ci_tooling/postgres.sh
        . .ci_tooling/miniconda.sh
        pip install codecov
        export PATH="/usr/lib/postgresql/11/bin:$PATH"
        psql -c 'CREATE ROLE runner SUPERUSER LOGIN CREATEDB;' -U postgres || true
        cd database; sh bootstrap.sh
        python schema_manager.py
        cd ../testdata
        sh load.sh
        cd ..
        coverage run --source=src setup.py test
        coverage report
        if [[ ${{ matrix.PYTHON_VERSION }} == "3.8" ]]; then
          codecov
        fi
